.vevent {
	background: #eee;
	margin: 2em;
	padding: 1em;
}

.vevent .organiser {
	font-size: 110%;
	font-style: italic;
}

.vevent .summary {
	font-size: 120%;
	font-weight: bold;
}

.vevent .description {
	margin-top: 1em;
}
